* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif !important;
}

.title-sk {
  background: #ffffff;
  color: #cdcaff;
}

.bg-sk {
  background-color: #cdcaff;
}

.img-card {
  max-width: 100%;
  width: 100%;
}

.outline-background {
  transform: translateX(0%) translateY(-413%);
  z-index: -1;
}

.title-outline {
  transform: translateX(0%) translateY(-521%);
  z-index: -1;
}

.arrow-1 {
  left: 32%;
  bottom: 76%;
}

.arrow-2 {
  left: 66%;
  bottom: 76%;
}

.review-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 43.8px 0px rgba(0, 0, 0, 0.15);
  min-height: 14rem;
}

.purple-card {
  border: 15px solid #cdcaff;
  width: 100%;
}

.business-card {
  border: 1px solid #ebeffc;
  width: 100%;
  min-height: 27rem;
}

.bordered-table th,
.bordered-table td {
  border-right: 1px solid #2962ff;
  border-bottom: 1px solid #2962ff;
  border-top: 1px solid #2962ff;
}

.bordered-table th:first-child,
.bordered-table td:first-child {
  border-left: 1px solid #2962ff;
}

.bordered-table th {
  background-color: #2962ff;
  color: white;
}

.bordered-table {
  border-collapse: collapse;
}

.policy-card {
  min-height: 20rem;
  border: 1px solid #ebeffc;
}

.card-number {
  bottom: 88%;
  left: 4%;
}

.bg-number-1 {
  background-color: #ffa7a7;
}

.bg-number-2 {
  background-color: #ffe689;
}

.bg-number-3 {
  background-color: #accefe;
}

.nav-link {
  font-size: 15px;
}

.nav-link:hover {
  color: #7798e1 !important;
}

.bg-footer {
  background-color: rgb(31 31 31);
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: #0088ff;
  text-decoration: underline;
}

.border-divider {
  border-top: 1px solid rgb(81, 94, 94);
}

.bg-blue {
  background-color: #0066fe;
}

.heading-color {
  color: rgb(5, 24, 67);
}

.sub-text {
  font-size: 18px;
}

.timeline-dot {
  color: #2962ff;
}

.bold-text {
  color: #534f5a;
}

.light-text {
  color: #534f5a;
}

.text-number {
  color: #2962ff;
}

.custom-timeline {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.timeline-container {
  position: relative;
}

.time-line-1 {
  position: absolute;
  left: 2.3%;
  bottom: 16%;
  height: 8rem;
  border: 1px solid #a5a5a5;
}

.bg-image {
  background-image: url("@/assets/images/about-us/bg-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.img-responsive-80 {
  max-width: 80%;
}

.img-responsive-70 {
  max-width: 100%;
}

.img-label {
  max-width: 100%;
}

.banner-title {
  font-size: 48px;
}

.text-36 {
  font-size: 36px;
}

.deep-blue {
  color: rgb(38 64 141);
}

.grey-section {
  background-color: #f2f2f2;
}

.text-25 {
  font-size: 25px;
}

.custom-number {
  height: 32px;
  width: 32px;
}

.custom-icon {
  height: 35px;
  width: 44px;
}

.send-icon {
  transform: rotate(-45deg);
}

.text-43 {
  font-size: 43px;
}

.text-h4 {
  font-weight: 700 !important;
}

.line-break-0 {
  word-break: keep-all;
}

li,
p,
div {
  word-break: keep-all;
}

.move-image-left {
  transform: translateY(28%) translateX(-15%) scale(1.1);
  width: 750px;
}

@media (max-width: 1100px) {
  .time-line-1 {
    left: 2%;
    bottom: 9%;
    height: 8rem;
  }

  .nav-link {
    font-size: 12px;
  }

  .move-image-left {
    transform: scale(1.3) translateX(-28%) translateY(24%);
    width: 514px;
  }
}

/* @media (max-width: 1500px) {
  .nav-link {
    font-size: 12px;
  }

  .move-image-left {
    transform: scale(1.1) translateX(-15%) translateY(15%);
    width: 750px;
  }
} */

@media (max-width: 800px) {
  .img-card {
    max-width: 300px;
  }

  .move-image-left {
    transform: scale(1.2) translateX(-5%) translateY(15%);
  }

  .time-line-1 {
    left: 2.2%;
    bottom: 13%;
    height: 9rem;
  }
}

@media (max-width: 600px) {
  .time-line-1 {
    left: 3.5%;
    bottom: 20%;
    height: 9rem;
  }

  .text-43 {
    font-size: 35px;
  }

  .text-h4 {
    font-size: 30px !important;
  }

  .text-h3 {
    font-size: 30px !important;
  }

  .text-h5 {
    font-size: 22px !important;
  }

  .text-36 {
    font-size: 30px;
  }

  .banner-title {
    font-size: 35px;
  }

  .responsive-img {
    max-width: 100%;
    max-height: auto;
  }

  .img-responsive-80 {
    max-width: 100%;
  }

  .img-responsive-70 {
    max-width: 70%;
  }

  .img-label {
    max-width: 80%;
  }

  .custom-number {
    height: 32px;
    width: 45px;
  }

  .custom-icon {
    height: 36px;
    width: 60px;
  }

  .move-image-left {
    transform: scale(1.5) translateX(-22%) translateY(10%);
  }
}
